@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');


/* Set Font */
h1{
  font-family: 'Bebas Neue';
  font-size: 80px;
}
h2{
  font-family: 'Bebas Neue';
  font-size: 36px;
}
h3{
  font-family: 'Bebas Neue';
  font-size: 24px;
}

/* Halaman Awal */
#main {
  text-align: center;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),  url("./assets/bg1.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 18%;
  border: none;
  color: aliceblue;
}


#main h1 {
  font-size: 50pt;
}
.scroll-down {
  margin-bottom: 0;
  padding-top: 20%;
  color: white;
}
.btn-warning {
  width: 260.36px;
  height: 60px;
  left: 588px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}
.navbar {
  font-family: "Open Sans", sans-serif;
  background: #0009;
  font-weight: bold;
  width: 100%;
  position: fixed;
}




/* Halaman Galery */
#galery {
  text-align: start;
  border: none;
  margin-top: -35px;
  
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%),url("./assets/the-games-bg.jpg");
  height: 100%;  
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;  
  color: aliceblue;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;

}
.about-title{
  margin-top: -50px;
}



/* Halaman Features */
#features {
  text-align: start;
  margin-top: -15px;
  
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%),url("./assets/features.jpg");
  height: 100%;  
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;  
  color: aliceblue;
}



/* Halaman System Req */
#system {
  text-align: center;
  margin-top: -35px;

  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%),url("./assets/requirements.png");
  height: 100%;  
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 145px;  
  font-weight: 14px;
  color: aliceblue;
}
#system h3{
  font-family: Arial;;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.table-bordered{
  margin-top: 40px;
  
}

.row-cols-2 h1{
  margin-top: 55px;
  text-align: start;
  font-size: 56px;
}
.table-bordered h4{
  color: #FFB548;
}
.table-bordered p{
  color: white;
}

/* Halaman Top Score */
#topscore {  
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%),url("./assets/topscore.jpg");
  height: 100%;  
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 145px;    

}
.bg-warning{  
  color: FFB548;
  height: 60px;
  width: 260px;
}
.card-header h5{
  margin-top: 100x;
  color: #FFB548;
  ;
}
.card-body span{
  color: grey;
  ;
}
.col-md-3 img {
  border-radius: 50%;
  height: 63px;
  width: 63px;
}
.justify-content-center h1, p{
  color: white;
}

#subscribe{
  color: white;
  padding-top: 136px;
  text-align: start;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ),url("./assets/img4.png");
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-color: black;
  width: auto;
  height: 960px;
  
}

/* Footer */
#newsLetter {
  padding: 2rem;
  background-image: url('../assets/image_newsletter.png');
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-color: #080a0b;
  height: 100%;
}

#newsLetter h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  font-weight: bold;
}
footer {
  background-color: #080a0b;
}
.navbawah ul li {
  display: inline-block;
  padding: 1rem;
}

.navbawah ul li a {
  text-decoration: none;
  color: #fff;
}

.navbawah ul li a:hover {
  text-decoration: none;
  color: grey;
}

footer .col-md-5 img {
  padding: 1rem;
}

footer hr {
  margin-top: -10px;
}

.navbawah2 ul li {
  display: inline-block;
}

.navbawah2 ul li a {
  text-decoration: none;
  color: #fff;
}

.navbawah2 ul li a:hover {
  text-decoration: none;
  color: grey;
}
.col-md-4 img{
  margin-left: 20x;
}

.about-features{
  margin-top: 150px;
}
.form-control{
  width: 300px;
  height: 60px;
}
.tombolbawah{
  width: 200px;
 
}
hr {
  border: 10px;
  height: 1px;
  background-color: #333; /* Modern Browsers */
}

/* Responsif Layar */
@media (min-width: 450px){
  /* h1{
    font-size: 3em;
    font-weight: bold;
  }
  h2{
    font-size: 2em;
    font-weight: bold;
  }
  h3{
    font-size: 1em;
    font-weight: bold;
  } */
  #main{
    padding-top: 18%;
    height: auto;
  }
}